---
import Layout from '../../layouts/Layout.astro'
import fiches from '../../data/fiches.json'
import AlpineSearchBox from '@components/AlpineSearchBox.astro'

export function getStaticPaths() {
  return fiches.map((fiche) => {
    return { params: { slug: fiche.slug }, props: { fiche } }
  })
}

const { fiche } = Astro.props

const { traductions, exemples, liens } = fiche

// @ts-ignore
const groups = Object.entries(Object.groupBy(traductions, ({ sens }) => sens))
---

<Layout title={fiche.vedette + ' | sous la loupe'}>
  <div
    class="mt-8 sm:mt-16 flex flex-col sm:flex-row items-center justify-center gap-6"
  >
    <a href="/">
      <img src="/logo.webp" alt="Logo sous la loupe" class="w-32 sm:w-24" />
    </a>
    <AlpineSearchBox />
  </div>

  <article
    class="mb-24 mt-12 lg:mt-20 border-primary border-4 p-5 sm:p-8 md:p-12 xl:p-20 rounded-lg max-w-screen-xl mx-auto"
  >
    <header>
      <h1 lang="de" class="lg:text-3xl text-2xl font-bold">
        {fiche.vedette}
      </h1>
    </header>

    <div
      class="grid grid-cols-1 lg:grid-cols-[1fr_1fr] gap-x-10 xl:gap-x-15 2xl:gap-x-20"
    >
      <section>
        <h2 class="mt-8 lg:text-2xl text-xl">Traductions proposées</h2>

        <div
          class="grid lg:grid-cols-[auto_1fr] lg:items-baseline gap-y-4 lg:gap-y-8 gap-x-16 lg:mt-8 mt-4 bg-slate-50 py-2 px-4 rounded-md max-w-prose"
        >
          {
            groups.map(([group, translations]) => (
              <>
                <h3 class="lg:text-sm text-xs align-baseline">{group}</h3>
                <ul>
                  {
                    // @ts-ignore
                    translations.map((t) => (
                      <li class="lg:text-xl text-lg mb-2 ">{t.terme}</li>
                    ))
                  }
                </ul>
              </>
            ))
          }
        </div>
      </section>

      {
        exemples.length > 0 && (
          <section>
            <h2 class="mt-8 lg:text-2xl text-xl">Exemples</h2>
            <div class="mt-8 max-w-prose ">
              <ul>
                {exemples.map((ex) => (
                  <li class="lg:text-lg mb-4 odd:bg-slate-200 even:bg-slate-100 py-2 px-4 rounded-md">
                    <p
                      lang="de"
                      set:html={ex.de}
                      class="mb-4 whitespace-pre-line"
                    />
                    <p set:html={ex.fr} class="whitespace-pre-line" />
                  </li>
                ))}
              </ul>
            </div>
          </section>
        )
      }

      {
        liens.length > 0 && (
          <section>
            <h2 class="mt-8 lg:text-2xl text-xl">Voir aussi</h2>

            <ul class="mt-6">
              {liens.map((l) => (
                <li>
                  <a href={'/fiches/' + l.slug} class="text-accent text-lg">
                    {l.vedette}
                  </a>
                </li>
              ))}
            </ul>
          </section>
        )
      }
    </div>
  </article>
</Layout>
