---
import groupBy from 'lodash.groupby'
import Layout from '../../layouts/Layout.astro'
import fiches from '../../data/fiches.json'

export function getStaticPaths() {
  return fiches.map((fiche) => {
    return { params: { slug: fiche.slug }, props: { fiche } }
  })
}

const { fiche } = Astro.props

const { traductions } = fiche

const groups = Object.keys(groupBy(traductions, 'sens'))
---

<Layout title={fiche.vedette + ' | sous la loupe'}>
  <article class="m-24 border-orange-300 border-4 p-20 rounded-lg">
    <header>
      <h1 class="text-3xl font-bold">{fiche.vedette}</h1>
    </header>

    <div class="grid grid-cols-[auto_1fr] gap-y-8 gap-x-16 mt-12">
      {
        groups.map((group) => (
          <>
            <h3 class="text-lg">{group}</h3>
            <ul>
              {traductions
                .filter((trad) => trad.sens == group)
                .map((trad) => (
                  <li class="text-lg">{trad.terme}</li>
                ))}
            </ul>
          </>
        ))
      }
    </div>

    <!--     <ul>
      {groups.map((group) => <li class="text-lg">{group[0]}</li>)}
    </ul>
 -->
    <!--   <div>
      <ul>
        {
          fiche.liens.map((lien) => (
            <li class="text-lg">
              <a href={`/fiches/${lien.slug}/`} class="underline">
                {lien.vedette}
              </a>
            </li>
          ))
        }
      </ul> -->
  </article>
</Layout>
